{% extends "inicio/base.html" %}

{% load static %}

{% block mainContent %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Esta sería la página de blog</h1>
    <p>en esta página tengo que agregar una entrada de blog (un post digamos)</p>
  

    <h3>busco por mail:</h3>

    <form action="/blog/buscar/" method="GET">

        <input type="text" name="email" id="email">

        <input type="submit" value="Buscar">

    </form>

    

    {% if usuarios %}

    <p>Estamos buscando el: {{email}}</p>

    <ul>
	{% for usuario in usuarios %}
		<li> {{usuario.nombre}} </li>
		<li> {{usuario.email}} </li>
	{% endfor %}

    </ul>
   
    {% endif %}

<br><br><br>
    <a class="" href="{% url 'usuarioFormulario' %}">crear usuarios</a>
    <a class="" href="{% url 'leerUsuarios' %}">Leer usuarios</a>


{% endblock %}